@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
        <title>Home Page</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Our New Account Setup!</h1>
        <p>Click the button below to begin:</p>
        <form action="/Home/Page1" method="get">
            <button type="submit" class="btn btn-primary">Begin Application</button>
        </form>
    </div>
</body>
</html>
