@model WebApplication1.Models.Submission
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Application Completed!</h1>
    </div>
</body>
</html>